body { font-size: 140%; }

option {
	color:grey !important;
}


#heading_style, .ui-datepicker-header {
	background: #EE1A29 !important;
	color:#fff !important;
}



/* tables sorting */

table.tablesorter thead tr .header {
	background-image: url(img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(img/desc.gif);
}

#main_body {
	margin: 20px 0px 20px 0px;
	border:1px solid #d3d3d3;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius:10px;
	-0-border-radius:10px;
	-webkit-border-radius:10px;
}


/*     warning css */
#error{
	color:red !important;
}

.info, .success, .warning, .error, .validation, .logoutMessage {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('img/icons/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('img/icons/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('img/icons/warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('img/icons/error.png');
}

.logoutMessage {
color: #ed5d2c;
background-color: #faebcf;
background-image:url('img/icons/logout.png');
}





